@keyframes respirafondo {
        0% {    box-shadow: 0rem 0rem 0.8rem 0.1rem #00000010;}
        50% {    box-shadow: 0rem 0rem 0.8rem 0.1rem #31c15030;}
        100% {    box-shadow: 0rem 0rem 0.8rem 0.1rem #00000010;}
    }