/* CATALOGO */

.catalogoMenuImagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "filtro categorias"
    "catalogo catalogo";
    gap: 2rem;
    background: linear-gradient(#fafafa,#fafafa, #585858ac);
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .catalogoCategorias__menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-block: 2rem;
        gap: 1rem;
        padding-inline: 2rem;
        grid-area: categorias;
    }

    .filtroLateralCatalogo{
        grid-area: filtro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .catalogoTarjetas{
        grid-area: catalogo;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 2rem 5rem;
    }
}
.tarjetaCatalogo{
    transition: all 0.3s ease;
}
.tarjetaCatalogo{
    transform: scale(1.02);
}