@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

/* GENERICOS */
* {
    font-family: 'Quicksand','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #fafafa;
    color: #182868
}
a {
    text-decoration: none;
    color: #182868;
}
/* TEXTO TITULOS */
.letraTitulo{
    font-family: 'Arsenal', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
}
/* INPUTS */
.input{
    border: none;
    border-radius: 1rem;
    padding: 0.35rem 1rem ;
    box-shadow: 0 0 0.55rem 0.1rem #0000001a;
}
.input:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 0.75rem  #00000040;
}
/* BOTONES */
.btn{
    box-shadow: 0 0 0.5rem 0.1rem #18286815 ;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 3rem 0.2rem #36c000;
    background-color: #36c000;
    font-weight: 700;
    transform: scale(1.03);
    color: #182868;
}
.btn::selection{
    border: none;
}
.btnProducto{
    background-color: #182868;
    transition: all 0.2s ease-out;
}
.callToAction{
    box-shadow: 0 0 2rem 0.2rem #36c0006b;
    background-color: #36c000;
}
/* HEADER */
header{
    position: sticky;
    top: 1.2rem;
    z-index: 2;
}
/* NAVBAR */
.navbar{
    backdrop-filter: blur(25px);
    box-shadow: 0rem 0rem 0.8rem 0.1rem #00000010;
    animation: respirafondo 4s ease infinite;
    transition: all 0.5s ease;
}
.navbar:hover{
    background-color: #ffffffa9;
}
.menuActivo{
    color: #36c000;
    font-weight: 700;
}
.menuInactivo{
    transition: color 0.5s ease;
}
.menuInactivo:hover{
    color: #36c000;
}
.imgFavicon {
    width: 5rem;
}
@keyframes respirafondo {
    0% {    box-shadow: 0rem 0rem 0.8rem 0.1rem #00000010;}
    50% {    box-shadow: 0rem 0rem 0.8rem 0.1rem #31c15020;}
    100% {    box-shadow: 0rem 0rem 0.8rem 0.1rem #00000010;}
}
/* FOOTER */
footer{
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-areas: "contacto logo derechos";
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    background-color: #c8c8c846;
    box-shadow: 0rem 0rem 1rem 0rem #c8c8c897;
    padding: 1rem 2rem;
    position: static;
    bottom: 0rem;
    font-size: 0.85rem;
    animation: respirafondo 4s ease infinite;
}
.contactoFooter{
    grid-area: contacto;
    justify-self: start;
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr 5fr;
    grid-template-areas: 
        "indicador1 texto1 indicador2 texto2"
        "indicador3 texto3 indicador4 texto4";
    gap: 0.25rem;
}
    .indicador1{
        grid-area: indicador1;
    }
    .indicador2{
        grid-area: indicador2;
    }
    .indicador3{
        grid-area: indicador3;
    }
    .indicador4{
        grid-area: indicador4;
    }
    .textoIndicador1{
        grid-area: texto1;
    }
    .textoIndicador2{
        grid-area: texto2;
    }
    .textoIndicador3{
        grid-area: texto3;
    }
    .textoIndicador4{
        grid-area: texto4;
    }   
.indicadorFooter {
    color: #36c000;
    font-weight: 700;
}
.derechos{
    grid-area: derechos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
}
.derechosTexto{
    font-size: 0.5rem;
    font-weight: 100;
}
.imgFavicon_LM{
    width: 3rem;
}
/* LANDING */
.landing{
    padding-bottom: 5rem;
    background: linear-gradient(#fafafa,#fafafa, #585858ac);
}
.inicio{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
    ". imginicio1 . . imginicio5 ."
    "imginicio4 textoInicio textoInicio textoInicio textoInicio imginicio2"
    "imginicio4 . . imginicio3 . .";
    align-items: center;
    justify-items: center;
    margin-block: 3rem;
}
.textoInicio {
    text-shadow: #00000035 0.2rem 0.2rem 0.2rem;
    grid-area: textoInicio;
    text-align: center;
}
.imginicio1{
    grid-area: imginicio1;
    transform: rotate(30deg);
}
.imginicio2{
    grid-area: imginicio2;
    transform: rotate(20deg);
}
.imginicio3{
    grid-area: imginicio3;
}
.imginicio4{
    grid-area: imginicio4;
    transform: rotate(310deg);
}
.imginicio5{
    grid-area: imginicio5;
    transform: rotate(340deg);
}
.imgBot{
    width: 5rem;
    z-index: 2;
    transition: all 1s ease;
}
.imgBot:hover{
    transform: rotate(300deg);
}
/* VIDEO */
.imgPpal{
    width: 100%;
    height: 100vh;
    box-shadow: 0rem 0rem 15rem 1rem #00000030;
}
/* TARJETAS PRODUCTOS */
.tituloTarjetas{
    color: #fafafa;
    text-shadow: #00000035 0.2rem 0.2rem 0.2rem;
}
.tarjetas{
    background: linear-gradient(#585858ac, #fafafa);
}
.tarjeta{
    background: linear-gradient(#ffffff, #e3e3e364);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.10);
    transition: all 0.3s ease;
}
.tarjetaImagen{
    max-width: 10rem;
    align-self: center;
}
.tarjeta:hover{
    transform: scale(1.1);
}
/* NEWSLETTER SECTION */
.newsletter{
    margin-block: 6rem;
}
/* SOBRE NOSOTROS */
.sobreTexto{
    margin-block: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 0.45fr 0.1fr 0.1fr 1fr;
    grid-template-areas: 
    "titulo1 titulo1"
    "imagen1 texto1"
    "titulo2 titulo2"
    "texto2 texto2"
    "titulo3 titulo3"
    "titulo5 titulo5"
    "imagen5 imagen5";
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
    align-items: center;
}
.parrafos{
    text-align: justify;
    text-justify: inter-word;
}
.titulo1About{
    grid-area: titulo1;
    margin-bottom: 0;
}
.imgEmpresa{
    border-radius: 1rem;
    width: 100%;
    grid-area: imagen1;
}
.texto1About{
    grid-area: texto1;
}
.titulo2About{
    grid-area: titulo2;
    margin-bottom: 0;
}
.texto2About{
    grid-area: texto2;
}
.sobreMisionVision{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    grid-area: titulo3;
    margin-bottom: 0;
    margin-bottom: 3rem;
    gap: 2rem;
}
.sobreMisionVision div{
    flex: 1;
}
.texto4About{
    grid-area: texto4;
}
.titulo5About{
    grid-area: titulo5;
    margin-bottom: 0;
}
.imagen5About{
    grid-area: imagen5;
}
.textoProminente{
    padding: 2rem;
    border-radius: 1rem;
    background-color: #182868;
    color: #fafafa;
    height: 100%;
}
.textoNuestraHistoria{
    padding: 2rem;
    border-radius: 1rem;
    background-color: #c8c8c860;
    box-shadow: 0rem 0rem 1rem 0rem #c8c8c897;
    height: 100%;
}
/* CONTACTO */
.tituloContactos{
    padding: 2rem 8rem;
    margin-top: 3rem;
}
.contacto, .terminosAcepto{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 1rem;
}
.contacto{
    border-bottom: 2px dotted #1828685d;
    margin-bottom: 3rem;
    padding-bottom: 8rem;
}
.mapa{
    border-radius: 1rem;
}
.formulario__contacto{
    display: flex;
    flex-direction: column;
}
.formulario__contacto div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
    text-align: left;
}
.btnformulario{
    align-self: flex-end;
}

/* PRODUCTO */
.productoSeccion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-gap: 2rem;
    grid-template-areas: 
    "titulo titulo titulo"
    "descripcion imagen caracteristicas"
    "usos imagen comprar";
    padding: 2 rem;
    margin: 2rem;
    margin-bottom: 10rem;
}
.productoSeccion div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}
.productoSeccion__comprar{
    grid-area: comprar;
}
.imagenProducto{
    width: 100%;   
}
.productoSeccion__titulo{
    grid-area: titulo;
}
.productoSeccion__descripcion{
    grid-area: descripcion;
}
.productoSeccion__usos{
    grid-area: usos;
}
.productoSeccion__imagen{
    grid-area: imagen;
    box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.050);
    border-radius: 1rem;
    background-color: #18286808;
}
.productoSeccion__caracteristicas{
    grid-area: caracteristicas;
}
.productoSeccion__tiposUsos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CATALOGO */
.catalogoCategorias__menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-block: 2rem;
    gap: 1rem;
    padding-inline: 2rem;
}
.catalogoMenuImagenes{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
    "filtro catalogo";
    position: relative;
    background: linear-gradient(#fafafa,#fafafa, #585858ac);
}
.filtroLateralCatalogo{
    position: sticky;
    top: 1rem;
    grid-area: filtro;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.catalogoTarjetas{
    grid-area: catalogo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.tarjetaCatalogo{
    transition: all 0.3s ease;
}
.tarjetaCatalogo{
    transform: scale(1.02);
}
/* MEDIA QUERYS */
@media screen and (max-width: 1200px){
    /* CONTACTO */
    .tituloContactos{
        padding: 2rem 3rem;
    }
    .contacto{
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
    }
    .mapa{
        height: 300px;
    }
}
@media  screen and (max-width: 888px) {
    /* FOOTER */
    footer{
    grid-template-columns: 2fr 0.3fr 0.5fr;
    }
    .productoSeccion{
        grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    "titulo titulo titulo "
    "usos descripcion  caracteristicas "
    ".  imagen  ."
    ". comprar .";
    }
}
/* TABLET */
@media screen and (max-width: 768px) {
    /* GENERALES */
    .letraTitulo{
        margin: 0;
    }
    /* INICIO */
    .textoInicio h3{
        margin-top: 1rem;
    }
    .imgBot{
        width: 50%;
    }
    /* SOBRE NOSOTROS */
    .sobreTexto{
        display: flex;
        flex-direction: column;
        margin-block: 2rem;
    }
    /* PRODUCTO */
    .productoSeccion{
        gap: 1rem;
        margin-bottom: 3rem;
    }
    .catalogoTarjetas .tarjeta{
        margin: 0.5rem 0.5rem;
    }
    .catalogoTarjetas{
        margin-bottom: 3rem;
        justify-content: space-around;
    }
    .filtroLateralCatalogo{
        padding: 1rem 1rem 0 2rem;
    }
}
@media screen and (max-width: 635px) {
 /* FOOTER */
    .contactoFooter{
        justify-self: center;
        gap: 0.5rem;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contacto contacto"
        "logo derechos";
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 1rem 1rem;
        margin-top: 1rem;
    }
    .derechos{
        justify-self: center;
    }
    /* CONTACTO */
    .mapa{
        width: 85vw;
    }
    /* PRODUCTO */
    .productoSeccion{
        grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr 0.1fr;
    grid-gap: 0.5rem;
    grid-template-areas: 
    "titulo titulo"
    "descripcion descripcion"
    "usos caracteristicas "
    "imagen imagen  "
    "comprar comprar ";
    }
}
/* PHONE */
@media screen and (max-width: 480px) {
    /* BOTONES */
    .btn{
        margin-block: 0.5rem;
    }
    /* LANDING */
    .inicio{
        margin-block: 2rem;
    }
    /* SOBRE NOSOTROS */
    .sobreMisionVision{
        display: flex;
        flex-direction: column;
    }
    .imagen5About{
        width: 100%;
    }
    /* CONTACTO */
    .tituloContactos{
        margin-top: 1rem;
        padding-bottom: 0;
    }
}